body{
    text-align: center;
    margin-top: 15em;
}
.center{
    display: flex;
    margin: auto;
}
.ano{
    background-color: rgb(28, 201, 28);
}
.ne{
    background-color: red;
}
button{
    margin: 0.2em;
    font-size: xx-large;
    border: solid 3px black;
    width: 3em;
}
a{
    text-decoration: none;
    color: black !important;
}